.setpassword_lock {
    background-color: #5458EA;
    padding: 15px;
    border-radius: 20px;
    width: 32px;
    height: 32px;
}
.setpassword_page_title{
    font-size: 18px;
    margin-right: 30px;
}
.setpassword_header {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #494949;
}

.setpassword_text {
    color: #C0C0C0;
    font-size: 14px;
}

.set_password {
    font-size: 24px;
    color: #494949;
}

.setpassword_eye {
    background-color: #c0c0c0;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    transition: 0.5s;
    width: 36px;
    height: 30px;
}
.setpassword_eye:hover{
    color: #5458EA;
}