.number_input {
    color: #000;
    box-sizing: border-box;
    padding: 0 0 6px;
    border: none;
    outline: none;
    border-bottom: 0.5px solid #C0C0C0;
    cursor: pointer;
    width: 240px;
    height: 30px;
    margin-bottom: 10px;
    font-size: 22px;
}